@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Be+Vietnam+Pro:wght@300&family=Gabarito&family=Mulish&family=Playfair+Display&family=Poppins&family=Roboto&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

.back{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.527); */
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.main{
    width: 80%;
    max-width: 1900px;
    /* height: 100px; */
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.working-area {
    width: 80%;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 40px;
}

.working-area .left-content{
    width: 50%;
    /* height: 70px; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.working-area .left-content .elem{
    height: 4.5vw;
    /* background-color: red; */
    color: #fff;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.working-area .left-content .elem h1:nth-child(1) {
    top:0;
}

.working-area .left-content .elem h1{
    line-height: 0.8;
    /* color: rgb(147, 84, 84); */
    font-family: 'Space Mono', monospace;
    /* font-family: 'kajiro'; */
    font-size: 70px;
    position: absolute;
    top: 100%;
    left: 0;
}

.working-area .left-content .btn {
    width: 18vw;
    font-size: 2vw;
    padding: 0.8vw 1vw;
    margin: 50px 0;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background-color: #fffffff7;
    border: 0;
    border-radius: 10px;
    pointer-events: all;
}

.working-area .rigth-content {
    width: 19%;
    height: 100%;
    /* background-color: green; */
    color: #fff;
    display: flex;
    flex-direction: column;

}

.working-area .rigth-content p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 30px;
    text-align: right;
}

.working-area .rigth-content p:nth-child(3) {
    margin-top: 20px;
}

.working-area .rigth-content .image-div{
    width: 100%;
    height: 100px;
    background-image: url('./assests/logaster-2022-07-e-ydwt3ucaej959.jpg');
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
}

.navbar {
    width: 100%;
    /* height: 60px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navbar .nav-left{
    width: 50%;
    display: flex;
    gap: 40px;
    align-items: center;
}


.navbar .nav-left img{
    width: 100px;
}
.navbar .nav-left p , .navbar .nav-rigth p{
    color: white;
    font-size: 14px;
    font-weight: 600;
    pointer-events: all;
    cursor: pointer;
    padding: 0 , 5px;
}

.navbar .nav-rigth {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0 20px;
}